﻿
@model IEnumerable<NetCoreAsp.Models.PsImageLang>
@{
    ViewBag.Title = "Films";
}
<h2>Films</h2>
<table class="table">
    <tr>
        <th>Film ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Release Year</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Legend)
            </td>
        </tr>
    }
</table>